:root {
    --font-heading: "Bebas Neue", sans-serif;
    --font-underRubrik: "Bricolage Grotesque", sans-serif;
    --color-bg: #BFB6A7;
    --color-bg-alt: #f0ebe3;
    --color-primary: #62978D;
    --color-primary-hover: #78A89F;
    --color-accent: #9C6B48;
    --color-text: #646464;
}

.hero {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    padding: 5rem 2rem;
    background-image:url("images/image\ 20.jpg");
    filter: saturate(0.8);
    background-size: cover;
    background-position: center;
    color: #fff;
}

main{
    padding: 40px;
    max-width: 1100px;
    align-self: center;
    justify-self: center;
}
a{
    text-decoration: none;
}
h2{
    font-family: var(--font-heading);
    font-size: 35px;
    letter-spacing: 2px;
}

p{
    font-family: var(--font-underRubrik);
}


.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    background-color: var(--color-bg-alt);
    padding: 40px 30px;
    min-width: 200px;
    max-width: 500px;
    border-radius: 20px;
    
}
.labeln, .labele, .labelm{
    color: #646464;
    font-family: var(--font-underRubrik);
}
.nameContact, .emailContact, .textarea{
    padding: 5px 5px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid var(--color-bg);
}

.submitContact{
    padding: 10px 50px;
    background-color: #62978D;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: var(--font-underRubrik);
}
.submitContact:hover{
    cursor: pointer;
    background-color: #78A89F;
}

@media (min-width:1000px){
    .contactForm{
        padding: 50px 40px;
        gap: 45px;
        width: 600px;
        border-radius: 20px;
    }
    .nameContact, .emailContact, .textarea{
        padding: 10px 5px;
        border-radius: 5px;
        width: 350px;
        border: 1px solid var(--color-bg);
    }
    .submitContact{
        padding: 15px 80px;
        font-size: 15px;
    }
}


