body {
    background-color: #BFB6A7;
    font-family: 'Bebas Neue';
}

.container-customer-profile {
    display: flex;
    flex-direction: column;
}

.button-customer-profile {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.button-edit-customer-profile {
    background-color: #62978D;
    color: white;
    border: none;
    width: 90px;
    height: 28px;
    border-radius: 5px;
    font-weight: bold;
}

.button-logout-customer-profile {
    background-color: #62978D;
    color: white;
    border: none;
    width: 120px;
    height: 28px;
    border-radius: 5px;
    font-weight: bold;
}