:root {
    --font-heading: "Bebas Neue", sans-serif;
    --font-underRubrik: "Bricolage Grotesque", sans-serif;
    --color-bg: #BFB6A7;
    --color-bg-alt: #f0ebe3;
    --color-primary: #62978D;
    --color-primary-hover: #78A89F;
    --color-accent: #9C6B48;
    --color-text: #646464;

}

ul li a.utgrått{
    color: #a6c2bc;
}
.hero p{
    font-family: var(--font-underRubrik);
    font-size: 30px;
}

div.filtrera{
    display: flex;
    justify-content: space-around;
    position: relative;
    div.hidden{
        display: none;
    }
    .search-bar{
        width: 500px;
        text-align: center;
        text-justify: center;
        padding: 5px 0px;
        font-family: var(--font-underRubrik);
        color: #646464;
        border-radius: 10px;
        border: 0px;
        outline: 1px solid var(--color-primary);
        height: 40px;
    }
    img.absolute{
        position: absolute;
        right: 20px;
        top: 12px;
    }
}

.main-content h2{
    font-family:'Bebas Neue', 'sans-serif'
}
.flex1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main-content div div img.iconFilter{
    width: 50px;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}
div.filter-form{
    position: absolute;
    width: 50%;
    border-radius: 20px;
    background-color: var(--color-bg-alt);
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: var(--font-underRubrik);
    padding: 30px 50px;
    .submit{
        padding: 10px 10px ;
        cursor: pointer;
        border-radius: 8px;
        border: 1px solid;
        background-color: #62978D;
        font-family: var(--font-underRubrik);
        color: #f0ebe3;
    }
    .submit:hover{
        background-color: #78A89F;
    }
    #category, #date{
        border: 1px solid #78A89F;
        width: 90%;
        padding: 5px 5px;
        border-radius: 5px;
        color: #646464;
    }
}
.main-content div.flex1 div.filter-form{
    top: 800px;
    right: 100px;
    z-index: 1;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10px;
    position: relative;
}
div.desktop{
    display: none;
}

div.desktop.active{
    display: flex;
}
button.add-to-cart-btn{
    font-size: 19px;
    padding-left: 20px;
}

@media (max-width:800px) {
    div.filtrera .search-bar{
        width: 350px;
    }
    div.desktop{
        padding: 25px 40px;
        width: 73%;
    }
    button.add-to-cart-btn{
        font-size: 14px;
    }
    
}
@media (min-width:1200px) {
    div.desktop{
        right: 100px;
        top: 300px;
        padding: 25px 40px;
    }
    section.hero p{
        font-size: 35px;
    }
    div.filtrera .search-bar{
        width: 550px;
    }
    div.filter-form{
        width: 350px;
    }
}