:root {
    --font-heading: "Bebas Neue", sans-serif;
    --font-underRubrik: "Bricolage Grotesque", sans-serif;
    --color-bg: #BFB6A7;
    --color-bg-alt: #f0ebe3;
    --color-primary: #62978D;
    --color-primary-hover: #78A89F;
    --color-accent: #9C6B48;
    --color-text: #646464;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-to-cart-btn {
  align-self: center;

}

.cover{
    width: 100%;
    object-fit: cover;
    min-height: 77vh;
    max-height:79vh ;
    margin-bottom: 0;
}
#event-detail{
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    justify-self: center;
    width: 80%;
    background-color:var(--color-bg-alt) ;
    color: var(--color-text);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.heroInfo{
    display: flex;
    padding: 0 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
    font-family: var(--font-heading);
    color: #f0ebe3;
    text-shadow:2px 2px 1px var(--color-accent) ;
    h1{
        font-size: 50px;
        letter-spacing: 8px;
        text-align: center;
    }
    button{
        font-family: var(--font-heading);
        font-size: 25px;
        letter-spacing: 2px;
    }
}
.rowInfo{
    display: flex;
    gap: 40px;
    font-size: 50px;
}

.eventInfo{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.trainer{
    display: flex;
    font-family: var(--font-heading);
    gap: 20px;
    letter-spacing: 2px;
    img{
        margin-top: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}
.sistaRad{
    display: flex;
    justify-content: space-between;
    font-family: var(--font-heading);
    font-size: 19px;
}
.platser{
    display: flex;
    gap: 10px;
    img{
        width: 20px;
    }
}
.btnDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookNow{
    padding: 20px 50px;
    cursor: pointer;
    background-color: var(--color-primary);
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 2px;
    border: 0px solid;
    border-radius: 10px;
    margin-top: 35px;
    font-family: 'Bebas Neue', 'sans-serif' ;
}
.bookNow:hover{
    background-color: #78A89F;
}

.hidden {
    display: none !important;
}

.form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.form-container {
    position: relative;
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    animation: popIn 0.3s ease;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;   
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #f0ebe3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn:hover {
    color: var(--color-primary);
}

/*confirmation box */
#confirmationBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    max-width: 500px;
    min-height: 400px;
    background-color: #E9E2D8;
    border: 2px solid #BFB6A7;
    color: #646464;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-underRubrik);
    z-index: 1001;

}

.confirmation-content {
    justify-self: center;
    align-self: center;
}


#closeConfirm {
    position: absolute;
    top: 10px;
    right: 15px;   
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #f0ebe3;
    display: flex;
    align-items: center;
    justify-content: center;
}



.disabled-btn {
    background-color: grey;
    cursor: not-allowed;
    opacity: 0.9;
}

@keyframes popIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.edit-form-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.admin-create-event {
    background-color:#646464;
    padding: 30px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#closeEditModal {
    position: relative;
    align-self: flex-end; 
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #f0ebe3;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (min-width:1200px) {
    .heroInfo{
        .rowInfo{
            font-size: 70px;
        }
        h1{
            font-size: 80px;
        }
        button{
            padding: 20px 30px;
            font-size: 23px;
        }
    }
    .eventInfo{
        padding: 70px;
        p{
            font-size:24px ;
        }
        .trainer{
            font-size: 24px;
            img{
                width: 50px;
                height: 50px;
                margin-top: 30px;
            }
        }
        .sistaRad{
            font-size: 30px;
        }
    }
    .bookNow{
        padding: 25px 70px;
        font-size: 30px;
    }
}