body {
    display: flex;
    flex-direction: column;
    height: 125vh;
    background-image: linear-gradient(
    rgba(34, 30, 30, 0.2),
    rgba(255, 255, 255, 0.4)
    ),
    url("images/sunset.png");
    background-size: cover;
    background-position: center;color: #fff;
}

.logo {
    color: var(--color-text);
}


#registerForm{
    display: flex;
    flex-direction: column;
}
nav, .site-header {
    background-color: transparent;
}

main {
    flex: 1;
}

.labellname{
    margin-left: 25px;
}
input#fname,input#lname,input#email,input#password  {
    color: #fff;
}

.hidden {
  display: none;
}

.form-group {
  margin-bottom: 10px;
}

.button-group {
  margin-top: 15px;
}

#toggleBtn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.9em;
}



footer {
    width: 100%;
}
@media (min-width:1000px) {
    #registerForm{
        gap: 30px;
        padding: 80px 50px;
        width: 500px;
        justify-self: center;
    }
    .labellname{
        margin-top: 20px;
    }
}
